body{
	background-image: url(../images/cute_potato_notype.jpg);
	background-size: 400px, 200px;
	background-repeat: no-repeat;
	background-color: #fceee5;
	position: absolute;
	left: 150px;
}

h1{
	font-family:'Patrick Hand SC', cursive;
	color: orange;
	font-size: 40px;
	text-align:center;
}

h2{
	font-family:'Patrick Hand SC', cursive;
	color: orange;
	font-size: 18px;
	margin: auto;
	text-align:center;
}

#project1{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 20px;
	color: orange;
	margin: auto;
	text-align: center;
}

#project2{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 20px;
	color: orange;
	margin: auto;
	text-align:center;
}

#project3{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 20px;
	color: orange;
	text-align:center;
}

#list{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 14px;
	color: orange;
	text-align:center;
}

#project4{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 20px;
	color: orange;
	text-align:center;
}

#project5{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 20px;
	color: orange;
	padding-top: 5px;
	text-align:center;
}

#exercise1{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise3{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise5{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}


#exercise7{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise8{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise9{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise9a{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise10{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise11{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}


#exercise12{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise13{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise14{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#exercise15{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 16px;
	color: orange;
	text-align:center;
}

#icon{
	opacity: 1;
	z-index: 2;
}

#icon:hover{
	opacity: 0;
}

#codecademy{
	height: 10%;
	width: 10%;
	opacity: 0;
	z-index: 1;
}

#codecademy:hover{
	opacity: 1;
}

h3{
	font-family:'Patrick Hand SC', cursive;
	font-width: bold;
	color: purple;
	font-size: 15px;
	padding-left: 115px;
	padding-top: 10px;
}
